<h1><%=@chatroom.name%></h1>
<div> <%= @chatroom.id %></div>
<%= @chatroom.messages.each do |message| %>
<span><%= message.user.nickname %></span>
<small><%= message.create_at.strftime() %></small>
<p><%= message.content %></p>
<% end %>

<%= simple_form_for [@chatroom,@message], remote: true do |f| %>
<%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
<% end %>